
<div class = "container">
    <h1>Welcome to Synchornized Teck</h1>
    <p>Staying abreast with the all infos on technology </p>

    <div>
        <img src="/images/fineimages.jpg" class="rounded" alt="...">
        <img class="img-responsive" src="images/fineimages.jpg" alt="sync teck">
    </div>
</div>
